h1 {
	color: #CC0000;
	background-color: #FFFFEA;
	}
	
	body {
	color: #006600;
	background-color: #FFFFEA;
	}

	p {
	text-indent: 2em;
	font-family: trebuchet, verdana, sans-serif;
	font-weight: bold;
	font-style:  1em;
	}